<h2>Upload Video</h2>
<form id="form1" action="/done" enctype="multipart/form-data" method="post">
	<label for="title">Last Name:</label>
	<input name="title" id="title" type="text" />
	
	
		<input type="text" id="txtFileName" disabled="true" style="border: solid 1px; background-color: #FFFFFF;" />
		<span id="spanButtonPlaceholder"></span>
	<div class="flash" id="fsUploadProgress"></div>
	<input type="hidden" name="video" id="video" value="" />
	
	<input type="submit" value="Submit Application" id="btnSubmit" />
</form>