<h2>Upload Video</h2>
<form id="form1" action="/done" enctype="multipart/form-data" method="post">
	<label for="title">Last Name:</label>
	<input name="title" id="title" type="text" />
	
	
		<input type="text" id="txtFileName" disabled="true" style="border: solid 1px; background-color: #FFFFFF;" />
		<span id="spanButtonPlaceholder"></span>
	<div class="flash" id="fsUploadProgress"></div>
	<input type="hidden" name="video" id="video" value="" />
	
	<input type="submit" value="Submit Application" id="btnSubmit" />
</form>


<embed src="http://localhost:5678/public/player.swf" width="300" height="240" allowfullscreen="true" allowscriptaccess="always" flashvars="&amp;displayheight=240&amp;file=http://localhost:5678/store/d4cd6720-9727-012c-3a6a-00254bb33798.flv&amp;width=300&amp;height=240" />