<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="/panda.css" type="text/css" rel="Stylesheet" charset="utf-8" media="all" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="/panda.js"></script>
			
		</script>
  </head>
  <body>

     <div id="content">
       <div id="header">
         <h1>Panda</h1>
       </div>

			<form id="" action="http://localhost:9378/videos" method="post" enctype="multipart/form-data">
				<p>
					<label for="file">Video:</label>
					<input type="file" name="file" id="file" />		
				</p>

				<p>
					<label for="title">Title:</label>
					<input type="text" name="custom_data[title]" id="title" />
				</p>
				
				<input type="submit">
			</form>
			
      
      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>