<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Panda</title>
    
    <style type="text/css" media="screen">
      #progress {
        border: 1px solid #009700;
        width: 200px;
        height: 20px;
      }

      #bar {
        width: 0%;
        height: 100%;
        background: #5add36;
      }

      #video {
        margin-top: 20px
      }
    </style>

    <script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/swfupload.js"></script>
		<script type="text/javascript" src="js/swfupload.swfobject.js"></script>
		<script type="text/javascript" src="js/fileprogress.js"></script>
		<script type="text/javascript" src="js/handlers.js"></script>
  </head>
  <body>
		<div id="content">
				<%= yield %>
		</div>
  </body>
</html>
