body { margin: 0; padding: 0}
input { font-size: 11px; }

#pandaloader #uploading {
  position: relative;
  width:100%;
}

#pandaloader #uploading .status {
  position: absolute;
  top: 2px;
  left: 4px;
  width:380px;
}

#pandaloader #uploading .cancel {
  float: left;
  margin-left:.6em;
}

#pandaloader #uploading .status,
#pandaloader #uploading .cancel,
#pandaloader #uploader .cancel {
  color: #222;
  line-height: 1.5;
  font-size: 11px;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;    
}

.button {
  margin-left: 5px;
}

#upload input, .button, .bar {
  float: left;
}

#progress {
  background: url("/images/bar-bg.gif") top left repeat-x;
  width:380px;
}
#uploading .status .filename {
  float:left;
}
#uploading .status .eta {
  float:right;
  margin-right:.6em;
}

#progress.bar {
  float: left;
  height: 18px;
}

#progressbar {
  float: left;
  display: block;
  height: 18px;
  width: 0px;
  background: url("/images/bar_prog.gif") top left repeat-x;
}

#donebar {
  background: url("/images/bar_done.gif") top left repeat-x;
}

#eta {
  font-size: 0.8em;
  color: #999;
  clear: left;
}

/* CHOOSE THUMBNAIL */

#screenshots li {
  list-style-type: none;
  float: left;
  border: 1px solid #ddd;
  margin: 5px;
}
#screenshots li a {
  display: block;
  padding: 5px;
}
#screenshots li a:hover {
  background: #eee;
}
